<%-include ('header')-%>
<section class="contact-section">
  <div class="container" style="padding: 10%;">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="text-center">
          <img src="/assets/img/profile.jpg" alt="...">
        </div>
        <div class="section-title mb-0">
          <h2>Rosena Josselin</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore mag na aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed doe iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
          ultrices gravida. </p>
        <ul>
          <li>Main Road , No 25/11</li>
          <li>+34 556788 3221</li>
          <li>contact@solmusic.com</li>
        </ul>
      </div>
      <div class="col-lg-6 p-0">
        <form class="contact-from">
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Your name">
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Your e-mail">
            </div>
            <div class="col-md-12">
              <input type="text" placeholder="Subject">
              <textarea placeholder="Message"></textarea>
              <button class="btn btn-danger btn-block">send message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

<section>
  <section class="playlist-section spad">
    <div class="container-fluid">
      <div class="section-title">
        <h2>Outils de Travail</h2>
      </div>
      <div class="container">
        <ul class="playlist-filter controls">
          <li class="control" data-filter="all">Tout</li>
          <li class="control" data-filter=".avendre">A vendre</li>
          <li class="control" data-filter=".gratuit">Gratuit</li>
          
        </ul>
      </div>
      <div class="row playlist-area">
        <div class="mix col-lg-3 col-md-4 col-sm-6 avendre">
          <div class="playlist-item">
            <div class="card-body">
              <h5 class="card-title">Son tambour</h5>
              <p class="card-text">Pour compa.</p>
              <p> <strong>Price :</strong> $50 </p><a href="/detailproduit" class="card-link btn btn-danger">Acheter</a> 
            </div>
          </div>
        </div>
        <div class="mix col-lg-3 col-md-4 col-sm-6 gratuit">
          <div class="playlist-item">
            <div class="card-body">
              <h5 class="card-title">Son Guitart</h5>
              <p class="card-text">solo</p>
               <p> <strong>Gratuit</strong> </p><a href="#" class="card-link btn btn-warning">Telecharger</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</section>




<section class="songs-section">
  <div class="container">
    <div class="song-item">
      <div class="row">
        <div class="col-lg-4">
          <div class="song-info-box">
            <img src="assets/img/songs/2.jpg" alt="">
            <div class="song-info">
              <h4>Jennifer Brown</h4>
              <p>One Night in Ibiza</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_player_container">
            <div class="single_player">
              <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"
                id="jp_jplayer_0" style="width: 0px; height: 0px;"><img id="jp_poster_0"
                  style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata"
                  src="file:///Users/ing.fontin/websites/mizik/Appmusic/music-files/1.mp3"></audio></div>
              <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                <div class="jp-gui jp-interface">

                  <div class="player_controls_box">
                    <button class="jp-prev player_button" tabindex="0"></button>
                    <button class="jp-play player_button" tabindex="0"></button>
                    <button class="jp-next player_button" tabindex="0"></button>
                    <button class="jp-stop player_button" tabindex="0"></button>
                  </div>

                  <div class="player_bars">
                    <div class="jp-progress">
                      <div class="jp-seek-bar" style="width: 100%;">
                        <div>
                          <div class="jp-play-bar" style="width: 0%;">
                            <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">01:30</div>
                  </div>
                </div>
                <div class="jp-no-solution" style="display: none;">
                  <span>Update Required</span>
                  To play the media you will need to either update your browser to a recent version or update your <a
                    href="https://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="songs-links">
            <a href="#"><img src="assets/img/icons/p-1.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-2.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-3.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="song-item">
      <div class="row">
        <div class="col-lg-4">
          <div class="song-info-box">
            <img src="assets/img/songs/2.jpg" alt="">
            <div class="song-info">
              <h4>Jennifer Brown</h4>
              <p>One Night in Ibiza</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_player_container">
            <div class="single_player">
              <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"
                id="jp_jplayer_0" style="width: 0px; height: 0px;"><img id="jp_poster_0"
                  style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata"
                  src="file:///Users/ing.fontin/websites/mizik/Appmusic/music-files/1.mp3"></audio></div>
              <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                <div class="jp-gui jp-interface">

                  <div class="player_controls_box">
                    <button class="jp-prev player_button" tabindex="0"></button>
                    <button class="jp-play player_button" tabindex="0"></button>
                    <button class="jp-next player_button" tabindex="0"></button>
                    <button class="jp-stop player_button" tabindex="0"></button>
                  </div>

                  <div class="player_bars">
                    <div class="jp-progress">
                      <div class="jp-seek-bar" style="width: 100%;">
                        <div>
                          <div class="jp-play-bar" style="width: 0%;">
                            <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">01:30</div>
                  </div>
                </div>
                <div class="jp-no-solution" style="display: none;">
                  <span>Update Required</span>
                  To play the media you will need to either update your browser to a recent version or update your <a
                    href="https://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="songs-links">
            <a href="#"><img src="assets/img/icons/p-1.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-2.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-3.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="song-item">
      <div class="row">
        <div class="col-lg-4">
          <div class="song-info-box">
            <img src="assets/img/songs/2.jpg" alt="">
            <div class="song-info">
              <h4>Jennifer Brown</h4>
              <p>One Night in Ibiza</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_player_container">
            <div class="single_player">
              <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"
                id="jp_jplayer_0" style="width: 0px; height: 0px;"><img id="jp_poster_0"
                  style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata"
                  src="file:///Users/ing.fontin/websites/mizik/Appmusic/music-files/1.mp3"></audio></div>
              <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                <div class="jp-gui jp-interface">

                  <div class="player_controls_box">
                    <button class="jp-prev player_button" tabindex="0"></button>
                    <button class="jp-play player_button" tabindex="0"></button>
                    <button class="jp-next player_button" tabindex="0"></button>
                    <button class="jp-stop player_button" tabindex="0"></button>
                  </div>

                  <div class="player_bars">
                    <div class="jp-progress">
                      <div class="jp-seek-bar" style="width: 100%;">
                        <div>
                          <div class="jp-play-bar" style="width: 0%;">
                            <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">01:30</div>
                  </div>
                </div>
                <div class="jp-no-solution" style="display: none;">
                  <span>Update Required</span>
                  To play the media you will need to either update your browser to a recent version or update your <a
                    href="https://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="songs-links">
            <a href="#"><img src="assets/img/icons/p-1.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-2.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-3.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="song-item">
      <div class="row">
        <div class="col-lg-4">
          <div class="song-info-box">
            <img src="assets/img/songs/2.jpg" alt="">
            <div class="song-info">
              <h4>Jennifer Brown</h4>
              <p>One Night in Ibiza</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_player_container">
            <div class="single_player">
              <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"
                id="jp_jplayer_0" style="width: 0px; height: 0px;"><img id="jp_poster_0"
                  style="width: 0px; height: 0px; display: none;"><audio id="jp_audio_0" preload="metadata"
                  src="file:///Users/ing.fontin/websites/mizik/Appmusic/music-files/1.mp3"></audio></div>
              <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                <div class="jp-gui jp-interface">

                  <div class="player_controls_box">
                    <button class="jp-prev player_button" tabindex="0"></button>
                    <button class="jp-play player_button" tabindex="0"></button>
                    <button class="jp-next player_button" tabindex="0"></button>
                    <button class="jp-stop player_button" tabindex="0"></button>
                  </div>

                  <div class="player_bars">
                    <div class="jp-progress">
                      <div class="jp-seek-bar" style="width: 100%;">
                        <div>
                          <div class="jp-play-bar" style="width: 0%;">
                            <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">01:30</div>
                  </div>
                </div>
                <div class="jp-no-solution" style="display: none;">
                  <span>Update Required</span>
                  To play the media you will need to either update your browser to a recent version or update your <a
                    href="https://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="songs-links">
            <a href="#"><img src="assets/img/icons/p-1.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-2.png" alt=""></a>
            <a href="#"><img src="assets/img/icons/p-3.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>






<script src="/assets/js/jquery.jplayer.min.js" type="d52850b64010880d43e7af48-text/javascript"></script>
<script src="/assets/js/jplayerInit.js" type="d52850b64010880d43e7af48-text/javascript"></script>




<%-include ('footer')-%>