<%-include('header')-%>
<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Contactez-nous</h2>
                    </div>
                    <p>Disponible sur Demande pour vous adier et repondre a toutes vos questions</p>
                    <ul>
                        <li>Port-au-Prince, Haiti</li>
                        <li>+(509) 33990-3721 </li>
                    </ul>
                    <form class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Your e-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Subject">
                                <textarea placeholder="Message"></textarea>
                                <button class="site-btn">send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <br><br><br>
                <img src="/assets/img/undraw_connected_world_wuay.png" alt="Appmusiclogo">
                <img src="/assets/img/logo.png" alt="Appmusiclogo">

            </div>

        </div>
    </div>
</section>


<%- include ('footer')-%>