<%-include('header')-%>
<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Contactez-nous</h2>
                    </div>
                    <p>Disponible sur Demande pour vous adier et repondre a toutes vos questions</p>
                    <ul>
                        <li>Port-au-Prince, Haiti</li>
                        <li>+(509) 33990-3721 </li>
                    </ul>
                    <form class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Your e-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Subject">
                                <textarea placeholder="Message"></textarea>
                                <button class="site-btn">send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <br><br><br>
                <img src="/assets/img/undraw_connected_world_wuay.png" alt="Appmusiclogo">
                <img src="/assets/img/logo.png" alt="Appmusiclogo">

            </div>

        </div>
    </div>
</section>


<script src="assets/js/jquery-3.2.1.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/jquery.slicknav.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/owl.carousel.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/mixitup.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/main.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script type="ac1b0f28b713e8e58c20709e-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ac1b0f28b713e8e58c20709e-|49" defer=""></script></body>

<!-- Mirrored from colorlib.com/preview/theme/solmusic/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Jul 2020 23:25:39 GMT -->
</html>
