<%- include ('header')-%>

<div class="container">
  <br>
  <div class="text-center">
    <h1>Rosena Josselin</h1> 
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 text-center">
      <br>
      <img src="/assets/img/profile.jpg" class="rounded-circle" width="50%" alt="">
      <br>
        <ul class="playlist-filter controls">
          <li class="control" data-filter=".parametre">Profile</li>
          <li class="control" data-filter=".projets">Projets</li>
          <li class="control" data-filter=".freepacks">Free Packs</li>
          <li class="control" data-filter=".freetracks"> Free Tracks</li>
          <li class="control" data-filter=".sonavendre">Son a vendre </li>
        </ul>
    </div>

    <div class="col-md-8 col-sm-12" ">

      <br>
      <div class="text-center">
         <img src="/assets/img/undraw_more_music_w70e.png"  width="50%" alt="">
      </div>
      <div class="text-center">
       <a href="/ajout" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> <strong> Nouveau Projet</strong> </a> 
       <a href="/ajout" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> <strong> Creer un Offre </strong></a> 
       <a href="/nson" class="btn btn-info"> <i class="fa fa-plus" aria-hidden="true"></i> <strong> Ajouter Des son</strong>  </a> 
       <a href="/ntrack" class="btn btn-warning"> <i class="fa fa-plus" aria-hidden="true"></i> <strong>Ajouter des Track </strong> </a> 

     </div>
     <hr>
      <div class="row playlist-area">
        <div class="mix col-lg-4 col-md-4 col-sm-6 parametre">
          <div class="playlist-item"style="background-color: chocolate;">
           <i class="fas fa-user-cog"> </i><h5> Parametre</h5>
          </div>
        </div>
        <div class="mix col-lg-4 col-md-4 col-sm-6 parametre">
          <div class="playlist-item" style="background-color: chocolate;">
            <h5>profile</h5>
          </div>
        </div> 
        <div class="mix col-lg-4 col-md-4 col-sm-6 parametre">
          <div class="playlist-item" style="background-color: chocolate;">
            <h5><a href="/"> Description</a> </h5>
          </div>
        </div>
        <hr>

        <div class="mix col-lg-4 col-md-4 col-sm-6 projets">
          <div class="playlist-item"style="background-color: chocolate;">
            <h5>Projets 1</h5>
          </div>
        </div>
        <div class="mix col-lg-4 col-md-4 col-sm-6 freepacks">
          <div class="playlist-item" style="background-color: chocolate;">
            <h5>Freepaks 1</h5>
          </div>
        </div> 
        <div class="mix col-lg-4 col-md-4 col-sm-6 freetracks">
          <div class="playlist-item" style="background-color: chocolate;">
            <h5>Free tracks 1</h5>
          </div>
        </div>
        <div class="mix col-lg-4 col-md-4 col-sm-6 sonavendre">
          <div class="playlist-item" style="background-color: chocolate;">
            <h5>Son a vnedre 1</h5>
          </div>
        </div>



      </div>
    </div>
  </div>

  




</div>









<%- include ('footer')-%>