

<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 order-lg-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="footer-widget">
              <h2>About us</h2>
              <ul>
                <li><a href="/">Homme</a></li>
                <li><a href="/contact">About</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-widget">
              <h2>Products</h2>
              <ul>
                <li><a href="/offre">Offre</a></li>
                <li><a href="/market">Market Place</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-widget">
              <h2>Compte</h2>
              <ul>
                <li><a href="/deconnection">Deconnection</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5 order-lg-1">
        <img src="assets/img/logo.png" alt="">
        <div class="copyright">
          Copyright &copy;<script type="ac1b0f28b713e8e58c20709e-text/javascript">
            document.write(new Date().getFullYear());
          </script> All rights reserved | App Music <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://matitech.org/" target="_blank">MatiTech Enterprise</a>
        </div>
        <div class="social-links">
          <a href="/https://www.instagram.com/appmusicht/"><i class="fa fa-instagram"></i></a>
          <a href="https://web.facebook.com/App-Music-104939147976204"><i class="fa fa-facebook"></i></a>
          <a href="/appmusicht@gmail.com"><i class="fa fa-google"></i></a>

        </div>
      </div>
    </div>
  </div>
</footer>



<script src="assets/js/jquery-3.2.1.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/jquery.slicknav.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/owl.carousel.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/mixitup.min.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script src="assets/js/main.js" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>


<script src="assets/js/jquery.jplayer.min.js" type="d52850b64010880d43e7af48-text/javascript"></script>
<script src="assetsjs/jplayerInit.js" type="d52850b64010880d43e7af48-text/javascript"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="ac1b0f28b713e8e58c20709e-text/javascript"></script>
<script type="ac1b0f28b713e8e58c20709e-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ac1b0f28b713e8e58c20709e-|49" defer=""></script></body>

<!-- Mirrored from colorlib.com/preview/theme/solmusic/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Jul 2020 23:25:39 GMT -->
</html>
