<%- include ('header')-%>



<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <div class="hs-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hs-text">
              <h2><span>Trouver</span> Un Artiste ou Musicien</h2>
              <p> trouver un Artiste Pour ou un Musicien pour travailler avec vous sur un projet</p>
              <a href="/inscription" class="site-btn">Commencer</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hr-img">
              <img src="assets/img/hero-bg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hs-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hs-text">
              <h2><span>Creer </span> de La Musique</h2>
              <p>Creer votre musique en ligne avec Plusieurs personnes, Contribue dans plusieurs projet a la fois</p>
              <a href="/inscription" class="site-btn">Demarez Maintenant</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hr-img">
              <img src="assets/img/hero-bg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hs-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hs-text">
              <h2><span>Achat et Vente </span> des Sons</h2>
              <p>Acheter et vendre des Track, ou des packs de Son pour ajouter a vos projet </p>
              <a href="/market" class="site-btn">Packs</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hr-img">
              <img src="assets/img/hero-bg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hs-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hs-text">
              <h2><span> travailler </span> en Freelance</h2>
              <p>Travailler n'importe ou sur des projet a distance. Proposez-vous en tant que Musicien ou chanteur, ou Compositeur ect...</p>
              <a href="workingpage" class="site-btn">Commencer</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hr-img">
              <img src="assets/img/hero-bg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<div class="col-lg-6 mx-auto">
  <div class="container text-center">
    <img src="assets/img/logo.png" class="rounded" alt="...">
  </div>
  <br>
  <div class="d-flex h-100 align-items-end">
    <form action="/workingpage" method="GET" class="search-form">
      <input type="text" placeholder="Artiste">
      <button class="btn btn-warning">Recherche</button>
    </form>
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="mix col-lg-3 col-md-4 col-sm-6 chere">
      <div class="playlist-item">
        <div class="card-body">
          <div>
            <img src="/assets/img/profile.jpg" class="rounded" alt="...">
          </div>
          <h5 class="card-title">Rosena Josselin</h5>
          <p class="card-text">Chanteuse Evangelique, Musique Worship</p>
          <a href="/artiste" class="btn btn-danger">Voir</a> 
        </div>
      </div>
    </div>
    
  </div>
</div>
<hr>
<section class="premium-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>App Music</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <p>Une Application qui permet de
          créer une chanson ou collaborer avec d'autres. Bienvenue dans le collectif de créateurs passionnés, que vous soyez déjà un ou aspirez à le devenir.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="premium-item">
          <img src="assets/img/premium/1.jpg" alt="">
          <h4> Musicien en freelance </h4> 
          <p> Travailler a Distance<p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="premium-item">
          <img src="assets/img/premium/2.jpg" alt="">
          <h4>Packs de Son</h4>
          <p>Ectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="premium-item">
          <img src="assets/img/premium/3.jpg" alt="">
          <h4>Listen Offline</h4>
          <p>Sed do eiusmod tempor </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="premium-item">
          <img src="assets/img/premium/4.jpg" alt="">
          <h4> Workshop</h4>
          <p> Travailler en Colaboration avec d'autre artistes</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="intro-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2> 
            De n'importe où sur n'importe quel appareil... </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <p>Créez des sons professionnels avec cet outil puissant. Ajustez le volume, effectuez un panoramique et utilisez l'effet de balayage au contenu de votre cœur.</p>
        <a href="/inscription" class="site-btn">Esayez Maintenant</a>
      </div>
    </div>
  </div>
</section>















<%- include ('footer')-%>