<%- include ('header')-%>


<section>
  <div class="container mx-auto text-center">
    <br><br>
    <h1 style="color:gray">Cette Partie du Site est en Construction</h1>
    <div class="col-lg-6 mx-auto">
      <div class="container text-center">
        <img src="/assets/img/work.png" class="rounded" alt="...">
      </div>
      <br>
    </div>
  </div>
</section>









<%- include ('footer')-%>